@import "tailwindcss";
@import "uniwind";

@import "tw-animate-css";

@theme {
	--radius: 10px;
	--radius-sm: calc(var(--radius) - 4px);
	--radius-md: calc(var(--radius) - 2px);
	--radius-lg: var(--radius);
	--radius-xl: calc(var(--radius) + 4px);

	--spacing-hairline: hairlineWidth();
}

@layer theme {
	:root {
		@variant light {
			--color-background: oklch(1 0 0);
			--color-foreground: oklch(0.145 0 0);
			--color-card: oklch(1 0 0);
			--color-card-foreground: oklch(0.145 0 0);
			--color-popover: oklch(1 0 0);
			--color-popover-foreground: oklch(0.145 0 0);
			--color-primary: oklch(0.205 0 0);
			--color-primary-foreground: oklch(0.985 0 0);
			--color-secondary: oklch(0.97 0 0);
			--color-secondary-foreground: oklch(0.205 0 0);
			--color-muted: oklch(0.97 0 0);
			--color-muted-foreground: oklch(0.556 0 0);
			--color-accent: oklch(0.97 0 0);
			--color-accent-foreground: oklch(0.205 0 0);
			--color-destructive: oklch(0.577 0.245 27.325);
			--color-border: oklch(0.922 0 0);
			--color-input: oklch(0.922 0 0);
			--color-ring: oklch(0.708 0 0);
			--color-chart-1: oklch(0.646 0.222 41.116);
			--color-chart-2: oklch(0.6 0.118 184.704);
			--color-chart-3: oklch(0.398 0.07 227.392);
			--color-chart-4: oklch(0.828 0.189 84.429);
			--color-chart-5: oklch(0.769 0.188 70.08);
			--color-sidebar: oklch(0.985 0 0);
			--color-sidebar-foreground: oklch(0.145 0 0);
			--color-sidebar-primary: oklch(0.205 0 0);
			--color-sidebar-primary-foreground: oklch(0.985 0 0);
			--color-sidebar-accent: oklch(0.97 0 0);
			--color-sidebar-accent-foreground: oklch(0.205 0 0);
			--color-sidebar-border: oklch(0.922 0 0);
			--color-sidebar-ring: oklch(0.708 0 0);
		}

		@variant dark {
			--color-background: #121212;
			--color-foreground: #fafafa;
			--color-card: #1c1c1c;
			--color-card-foreground: #fafafa;
			--color-popover: #1c1c1c;
			--color-popover-foreground: #fafafa;
			--color-primary: #f5f5f5;
			--color-primary-foreground: #171717;
			--color-secondary: #2a2a2a;
			--color-secondary-foreground: #fafafa;
			--color-muted: #2a2a2a;
			--color-muted-foreground: #999999;
			--color-accent: #2a2a2a;
			--color-accent-foreground: #fafafa;
			--color-destructive: #ef4444;
			--color-border: rgba(255, 255, 255, 0.15);
			--color-input: rgba(255, 255, 255, 0.1);
			--color-ring: #888888;
			--color-chart-1: oklch(0.488 0.243 264.376);
			--color-chart-2: oklch(0.696 0.17 162.48);
			--color-chart-3: oklch(0.769 0.188 70.08);
			--color-chart-4: oklch(0.627 0.265 303.9);
			--color-chart-5: oklch(0.645 0.246 16.439);
			--color-sidebar: oklch(0.205 0 0);
			--color-sidebar-foreground: oklch(0.985 0 0);
			--color-sidebar-primary: oklch(0.488 0.243 264.376);
			--color-sidebar-primary-foreground: oklch(0.985 0 0);
			--color-sidebar-accent: oklch(0.269 0 0);
			--color-sidebar-accent-foreground: oklch(0.985 0 0);
			--color-sidebar-border: oklch(1 0 0 / 10%);
			--color-sidebar-ring: oklch(0.556 0 0);
		}
	}
}
